
<ion-content [fullscreen]="true" appParallaxHeader [scrollEvents]="true">
  <ion-header class="ion-no-border parallax-header" [style.background-image]="'url(' + imgSrc +')'">
    <ion-toolbar class="parallax-toolbar">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
        <ion-title class="transition-all opacity-0">Default Buttons</ion-title>

      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
        <ion-button color="secondary">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="parallax-title">
      <h1>Title Title Title Title Title Title Title </h1>
    </div>
  </ion-header>

  <div class="parallax-body">
    <div class="ion-padding">
      <div class="instructions">

      </div>
      <button (click)="onClick()">Toggle Image</button>
      <div id="container" *ngIf="showImage" [@inOutAnimation] >
        <strong>Ready to create an app?</strong>
        <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
      </div>
      <div style="height: 100vh"></div>
      <div style="height: 100vh"></div>
      </div>
  </div>
</ion-content>
